body{
    background: linear-gradient(to bottom, #ffffff, #dbedff);
    margin: 0;
    padding: 0;
}

.btn-cv, .btn-ln {
    background-color: #fbfdff;
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px; 
}

.btn-ln {
    padding: 10px 20px;
}

.btn-ln:hover, .btn-cv:hover {
    background-color: #3498db;
    color: #fbfdff;
}

#header{
    height: 85.5vh;
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

#header h1{
    margin: 0 0 10px 0;
    font-size: 2.5rem; 
    font-weight: 500;
    color: black;
}

#header h2{
    font-size: 1.5rem; 
    font-weight: 500;
    color: black;
}

.my-name{
    font-size: 3rem;
    font-weight: 600;
    color: #3498db;
}


#header .animated{
    animation: up-down 1.8s ease-in-out alternate-reverse both infinite;
    height: auto;
    width: 55vh;
    max-width: 100%; /* Ensure image scales on small screens */
    margin: auto;
}

.text_area{
    resize: none;
}

.p_btn{
    outline: none;
    border: none;
    background-color: transparent;
}

.container_div{
    height: 77vh;
    align-items: center;
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.rms_main{
    background-color: white !important;
}

.rms{
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 10vh;
}


#prj li{
    list-style-type:circle;
    font-size: 1.4rem;
}

.project_img{
    width: auto;
    height: 30vh;
    border-radius: 5px;
}

.pdetail{
    height: 100%;
    color: black;
}

.qr_img{
    width: 300px !important;
    height: 300px;
}

@keyframes up-down{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

@media (max-width:1220px){
    #header h1{
        font-size: 2.3rem;
    }

    #header h2{
        font-size: 1.3rem;
    }

    .btn-cv, .btn-ln{
        font-size: 1.1rem;
        padding: 8px 20px;
    }

    #header .animated{
        height: auto;
        width: 50vh;
    }

    .rms{
        margin-left: -5vh !important;
        margin: 0;
        height: auto;
    
    }
}

@media (max-width: 991px){
    #header{
        height: 89vh;
    }

    #header h1{
        font-size: 2rem;
    }

    #header h2{
        font-size: 1.2rem;
    }

    .rms{
        /* margin-left: -5vh !important; */
        margin: 0;
        height: auto;
    }

    .btn-cv, .btn-ln{
        font-size: 1rem;
        padding: 8px 20px;
    }

    #header .animated{
        height: auto;
        width: 70%;
    }

}

@media (min-width: 770px) and (max-width: 990px) {
    
    #header h1 {
        font-size: 2.3rem;
    }

    #header h2 {
        font-size: 1.3rem;
    }

    .main_text {
        font-size: 1.5rem;
        margin-left: 18vh;
    }

    .btn-cv, .btn-ln {
        font-size: 1.1rem;
        padding: 8px 20px;
    }

    #header .animated {
        height: au;
        width: 50vh;
    }

    .rms{
        margin-left: -5vh !important;
        margin: 0;
        height: auto;
    
    }
    
}

@media (max-width: 768px) {
    #header {
        height: 89vh;
    }
    
    #header h1 {
        font-size: 2rem;
    }

    #header h2 {
        font-size: 1.7rem;
    }

    .btn-cv, .btn-ln {
        font-size: 1rem;
        padding: 8px 20px;
    }

    .rms{
        margin-left: -2vh !important;
        margin: 0;
        height: auto;
    }

    #prj li{
        font-size: 1.2rem;
        /* width: 28vh ; */
        flex-direction: column;
    }

    .qr_img{
        width: 200px !important;
        height: 200px;
    }

    #header .animated{
        height: auto;
        width: 80%;
        margin-top: -10vh;
    }
}

@media (max-width: 350px) {
    #header{
        height: auto;
    }

    #header h1 {
        font-size: 1.5rem;
    }

    
    .rms{
        margin-left: -2vh !important;
        margin: 0;
        height: auto;
    }

    #prj li{
        font-size: medium;
    }

    .qr_img{
        width: 200px !important;
        height: 200px;
    }

    #header h2 {
        font-size: 1rem;
    }

    .btn-cv, .btn-ln {
        font-size: 0.8rem;
        padding: 6px 15px;
    }

    #header .animated {
        height: auto;
        width: 100%;
    }
}
